body
{
    margin: 0;
    padding: 0;
}

.NavPage {
    position: absolute;
    height: 80vh;
}

.infoBG {
    z-index: -1;
}

.introPagePadding {
    padding-top: 10vh;
}

.infoPagePadding {
    padding-top: 7.5vh;
}

.introPage {
    min-height: 60vh;
    background-color: rgba(211, 211, 211, 0.8);
}

    .introPage h1 {
        font-family: Helvetica;
    }

    .introPage form {
        margin-top: 10vh;
    }

.NavSpaceHolder {
    min-height: 95vh;
    width: 100vw;
}

.zoom {
    transition: transform 1s;
    transform: scale(1.5);
}

.iconLabelFade {
    opacity: 0.6;
}

.iconLabel {
    position: absolute;
}

    .iconLabel .tooltiptext {
        visibility: hidden;
        top: -7.5vh;
        width: 256px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
    }

    .iconLabel:hover .tooltiptext {
        visibility: visible;
    }

.instrLabel {
    margin: auto;
    position: absolute;
    margin-top: 85vh;
    margin-left: 40vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px;
}

    .instrLabel h4 {
        color: white;
    }

.quizLabel {
    position: absolute;
    margin: 0;
    right: 1vw;
    top: 67.5vh;
    width: 25vw;
    height: 10vh;
}

.labelA{
    margin-top: 15vh;
    margin-left: 7.5vw;
}

.labelB {
    margin-top: 55vh;
    margin-left: 25vw;
}

.labelC {
    margin-top: 25vh;
    margin-left: 60vw;
}

.labelD {
    margin-top: 72.5vh;
    margin-left: 52.5vw;
}

.letB {
    padding-top: 1vh;
    padding-left: 1vh;
    width: 56px;
}

.letD {
    padding-top: 1vh;
    padding-left: 0.5vw;
    width: 56px;
}

.hideView {
    display: none;
}

#quizStatus {
    color: red;
}

.imgsliderstyle {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.img-comp-container {
    position: relative;
    height: 200px;
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.sliderImg {
    display: block;
    vertical-align: middle;
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
}
